doctype html
head
  include commonheader
  title
    | samilgong mypage
  link(rel='stylesheet', href='/css/profile.css', type='text/css')
  link(rel='stylesheet', href='css/projectmain.css', type='text/css')
  script.
    $(document).ready(function() {
      $('#frm-update-introduce').submit(function() {
        return formRequest('#frm-update-introduce', function(data){
          if(data.result){
            modalAlert("자기소개", '자기소개가 수정 되었습니다.', function() {location.reload();});
          }
        });
      });
      
    });

    $(window).load(function(){
      requestAysnc('/show_projectlist','post',null,function(data){
        if(data.result){
          
        }
      },null);
    });

    

include commonnavbar
// body
.container
  .padding10
    .row
      .col-xs-12.col-sm-4
        span.glyphicon.glyphicon-user
        |  My profile 
        .profile-pic.padding5
          .row
            img.img-circle(src='images/chicha.jpg', alt='Cinque Terre', width='170', height='170')       
          .panel-body
            span.glyphicon.glyphicon-menu-right
            | #{context.get('name')}
          .panel-body
            span.glyphicon.glyphicon-menu-right
            | #{context.get('show_id')}
          .panel-body
            span.glyphicon.glyphicon-menu-right
            | #{context.get('show_git_id')}
          .panel-body
            span.glyphicon.glyphicon-menu-right
            | #{context.get('show_introduce')}
            
           
            button.btn.btn-link(type='button', data-toggle='modal', data-target='#myprofile')
              span.glyphicon.glyphicon-pencil(aria-hidden='true')
              // Modal
            #myprofile.modal.fade
              .modal-dialog
                // Modal content
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title 자기소개를 입력하세요 
                  .modal-body
                    form#frm-update-introduce(action="/update_introduce", method='post')
                      .form-group
                        label.sr-only(for='txt-profile') Profile
                        textarea#comment.form-control(rows='5', name='introduce')
                      .form-group
                        input.setting_btn.padding5(type='submit', value='입력하기')
                  // modalbody
                // modalcontent
              // modal dialog
            // modal fade
      .col-xs-12.col-sm-8
        .padding5.row
          ul
            li
              h2.section-title
                span.glyphicon.glyphicon-star
                |  즐겨찾기
            li
              #dv-favorate.row
                .col-md-4.col-sm-4.project-block
                  .thumbnail(pid='1', ppath='')
                    .row.margin0
                      .col-xs-5
                        .app-icon
                          img(src='/images/apple-touch-icon@2.png')
                      .col-xs-7
                        .text-center.app-title
                          h4 #{context.get('favorates')}
                        .app-descript
                          p this is project descript
                        .app-function
                          .btn-group.btn-group-xs
                            a.btn.btn-default(pid='1', href='#')
                              span.glyphicon.glyphicon-minus
                            a.btn.btn-default(pid='1', href='#')
                              span.glyphicon.glyphicon-star
                            a.btn.btn-default(pid='1', href='#')
                              span.glyphicon.glyphicon-info-sign
            li
              .row
                .col-sm-8.col-md-8.col-lg-8
                  h2.section-title
                    span.glyphicon.glyphicon-option-horizontal
                    |  내 프로젝트
                .col-sm-4.col-md-4.col-lg-4.text-right
                  .blank20
                  .btn-toolbar(role='toolbar', style='display:inline-block;')

                    button.btn.btn-default.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                      span.glyphicon.glyphicon-plus(aria-hidden='true')
                    // Modal
                    #myModal.modal.fade(role='dialog')
                      .modal-dialog
                        // Modal content
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                          .modal-body
                            form(action='#', method='post', enctype='multipart/form-data')
                              .form-group
                                label.sr-only(for='txt-in-user-file') My file name
                                input#txt-in-user-file.form-control.input-lg(type='text', name='file-name', placeholder='File')
                              .form-group
                                label.sr-only(for='txt-in-user-fileup') File upload
                                input#txt-in-user-fileup.form-control.input-lg(type='file', name='file-up', placeholder='Fileup')
                              .form-group.modal-footer
                                input.login-btn.btn-lg.btn-default.padding5(type='submit', value='File upload')

            li
              #dv-projectlist.row
                .col-md-4.col-sm-4.project-block
                  .thumbnail(pid='1', ppath='')
                    .row.margin0
                      .col-xs-5
                        .app-icon
                          img(src='/images/apple-touch-icon@2.png')
                      .col-xs-7
                        .text-center.app-title
                          h4 #{context.get('projects')}
                        .app-descript
                          p this is project descript
                        .app-function
                          .btn-group.btn-group-xs
                            a.btn.btn-default(pid='1', href='#')
                              span.glyphicon.glyphicon-minus
                            a.btn.btn-default(pid='1', href='#')
                              span.glyphicon.glyphicon-star
                            a.btn.btn-default(pid='1', href='#')
                              span.glyphicon.glyphicon-info-sign
